In [3]:
import os
import json
import pandas as pd
workspace = r'C:\Users\jf_ph\Documents\SATELLITE IMAGES\SHAPEFILE'
estaciones = os.path.join(workspace,'estaciones.json')
ema = os.path.join(workspace,'ema.csv')

with open(estaciones,'r') as estaciones:
      e = json.load(estaciones)
lista= []  
for i in e['estaciones']:
      if i['ico'] == 'M' and i['estado'] == 'AUTOMATICA': 
            lista.append([i['cod'],i['lat'],i['lon'],i['nom']])
lista    
df = pd.DataFrame(lista, columns = ['cod','lat','lon','nom'])
df.to_csv(ema)
df.head(5)

        cod      lat       lon               nom
0  4726A602 -6.37914 -78.81339      CUTERVO GORE
1  472680EE -6.67996 -78.52363   BAMBAMARCA GORE
2  4727F484 -6.66667 -78.73333            CHUGUR
3  47269398 -5.67667 -78.77418         JAEN GORE
4  4726706A -5.14422 -78.99989  SAN IGNACIO GORE

In [10]:
import arcpy
ema_out= os.path.join(workspace,'ema.shp')
arcpy.management.XYTableToPoint(ema, ema_out, "lon", "lat", None, arcpy.SpatialReference('WGS 1984'))